.top-menu {
        width: 100%;
        height: 100px;
        background-color: #3f3b4c;
}

.top-menu__content {
        height: 100px !important;
}
.top-menu__content__button {
        height: 50%;
}
